.navigate {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
    width: 97vw;
    border-bottom: 1px solid #ccc;
}

.title {
    font-weight: 500;
    font-size: 22px;
}

@media screen and (max-width: 1070px) {
    .title{
        font-size: 110%;
    }
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 90%;
    }
}